{{#each posts}}
<div class="post animated fadeInUp">
    <div class="text-bubble">
        <div class="bubble z-depth-1">
            <p class="body-text">
                {{this.Post.Body}}
            </p>
        </div>
        <div class="triangle-right"></div>
    </div>

    <div class="icon">
        <div class="icon-picture" style="background-image: url(fashion-festival-graffiti-1447356.jpg);"></div>
        <span class="icon-name">
            {{this.Post.UserName}}
        </span>
    </div>
    <div class="post-info">
        <p>Postal: {{this.Post.Location}}</p>
        {{#if tag}}
            <span class="topics">Topics:
                {{!-- {{#each tag}} --}}
                        <a href="/posts/tag/{{tag}}">#{{tag}}</a>
                {{!-- {{/each}} --}}
            </span>
        {{/if}}
        <span class="time-stamp">Posted {{this.Post.createdAt}}</span>
    </div>
</div>
{{/each}}