{{#each posts.Posts}}
<div class="post animated fadeInUp">
    <div class="text-bubble">
        <div class="bubble z-depth-1">
            <p class="body-text">
                {{this.Body}}
            </p>
        </div>
        <div class="triangle-right"></div>
    </div>

    <div class="icon">
        <div class="icon-picture" style="background-image: url(fashion-festival-graffiti-1447356.jpg);"></div>
        <span class="icon-name">
            {{!-- {{user}} --}}
        </span>
    </div>
    <div class="post-info">
        <p>Postal: {{this.Location}}</p>
        <span class="topics">Topics:
            {{Tags}}
             {{!-- {{#each Tags}}
            {{this}}
            {{/each}} --}}
        </span>
        <span class="time-stamp">Posted {{this.createdAt}}</span>
    </div>
</div>
{{/each}}